Package: ios.anhvu99er.aovcheatlite
Name: AovCheat Lite Menu 
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: AovCheat Lite Menu for Arena of Valor (Liên Quân Mobile) - AutoUpdate, AutoAim, AutoUseSkill, NoRecoil, NoSpread, ESP, Wallhack, SpeedHack, and more. Developed by 34306 (Little).
Maintainer: Anhvu99er
Author: Anhvu99er
